:root {
    --jake-color: hsl(44, 89%, 55%);
    --transparent-jake-color: hsla(44, 89%, 55%, .3);
    --light-color: #F4F4F4; 
    --placeholder-color: hsla(0, 0%, 85%, .6);

    --form-width: 500px;
    --form-color: #232323;
    --form-padding: calc(var(--form-width) * .05);
    --form-title-size: calc(var(--form-width) * .12);
    --form-input-text-size: calc(var(--form-title-size) * .5);
    --form-terms-text-size: calc(var(--form-input-text-size) * .715);
    --form-checkbox-size: calc(var(--form-terms-text-size) * 1.25);
    --form-header-size: calc(var(--form-width) * .23);
    --form-header-padding: calc(var(--form-header-size) * .45);

    --jake-size: calc(var(--form-width) * .75);
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--jake-color);
    font-family: Helvetica, sans-serif;
}
.align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-container {
    position: relative;
    margin: 0 auto;
    width: var(--form-width);
    min-height: calc(var(--form-width) * 1.15);
    background-color: var(--form-color);
    border-radius: calc(var(--form-width) * .03);
}
.form-header {
    position: relative;
    width: 100%;
    padding: 
        var(--form-header-padding) 
        0
        calc(var(--form-header-padding) * 1.75)
        0;
    font-size: var(--form-header-size);
    color: var(--form-color);
    text-align: center;
    user-select: none;
}
.form-container::before,
.form-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: var(--jake-size);
    height: var(--jake-size);
    background-image: url('https://i.ibb.co/SXMQN8J/dancing-jake.png');
    background-size: cover;
}
.form-container::before {
    left: calc(var(--jake-size) * -1.25);
    transform: rotateY(180deg);
}
.form-container::after {
    right: calc(var(--jake-size) * -1.25);
}
.form-container form {
    position: relative;
    display: flex;
    padding: var(--form-padding);
    flex-direction: column;
}
.form-container form label,
.form-container form button {
    cursor: pointer;
}
.form-container form .form-title {
    padding: 
        calc(var(--form-padding) * .5) 
        0
        calc(var(--form-padding) * 1.5)
        0;
    width: inherit;
    font-size: var(--form-title-size);
    text-align: center;
    color: var(--jake-color);
    user-select: none;
}
.form-container form .input-group {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.form-container form .input-group:not(:first-of-type) {
    padding-top: var(--form-padding);
}
.form-container form .input-group:not(:last-of-type) {
    padding-bottom: var(--form-padding);
}
.form-container form .input-group button {
    position: relative;
    margin: 0 auto;
    padding: 
        calc(var(--form-title-size) * .18)
        calc(var(--form-title-size) * .25);
    font-size: var(--form-input-text-size);
    background-color: var(--jake-color);
    color: var(--form-color);
    border: calc(var(--form-title-size) * .025) solid var(--jake-color);
    border-radius: calc(var(--form-title-size) * .09);
    transition: all 350ms ease-in;
    font-weight: bold;
    width: 85%;
}
.form-container form .input-group button:hover {
    background-color: var(--jake-color);
    color: var(--form-color);
}
.form-container form .input-group input[type="text"],
.form-container form .input-group input[type="password"] {
    flex: .5;
    font-size: var(--form-input-text-size);
    padding: 
        calc(var(--form-input-text-size) * .05) 
        calc(var(--form-input-text-size) * .25);
    background-color: var(--transparent-jake-color);
    outline: none;
    border: 0 none;
    border-radius: calc(var(--form-input-text-size) * .15);
    caret-color: var(--jake-color);
    color: var(--light-color);
    transition: all 350ms ease-out;
}
.form-container form .input-group input::placeholder {
    user-select: none;
}
.form-container form .input-group .additional-label {
    position: absolute;
    left: 9%;
    bottom: calc(var(--form-input-text-size) * -.1);
    color: var(--placeholder-color);
    font-size: calc(var(--form-input-text-size) * .65);
    pointer-events: none;
    transition: all 350ms ease-out;
}
.form-container form .input-group input:placeholder-shown + .additional-label {
    bottom: calc(var(--form-input-text-size) * .99);
    font-size: calc(var(--form-input-text-size) * .8);
}
.form-container form .input-group label {
    position: relative;
    flex: .86;
    text-align: center;
}
.form-container form .input-group label input[type="checkbox"] {
    display: none;
}
.form-container form .input-group label .jake-box {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: var(--form-checkbox-size);
    height: var(--form-checkbox-size);
    background-color: inherit;
    border: calc(var(--form-checkbox-size) / 16.75) solid var(--transparent-jake-color);
    border-radius: calc(var(--form-checkbox-size) / 5.6);
    transition: all 350ms ease;
}
.form-container form .input-group label .jake-box::before,
.form-container form .input-group label .jake-box::after {
    content: '';
    position: absolute;
    width: calc(var(--form-checkbox-size) * .15);
    height: calc(var(--form-checkbox-size) * .7);
    background-color: var(--light-color);
    border-radius: calc(var(--form-checkbox-size) * .05);
    opacity: 0;
    transition: opacity 350ms cubic-bezier(.23, .71, .31, .99);
}
.form-container form .input-group label .jake-box::before {
    bottom: 15%;
    transform: rotate(45deg);
}
.form-container form .input-group label .jake-box::after {
    bottom: 16%;
    left: 20%;
    height: calc(var(--form-checkbox-size) * .35);
    transform: rotate(-45deg);
}
.form-container form .input-group label input[type="checkbox"]:checked + .form-terms .jake-box {
    border-color: hsla(44, 89%, 55%, .7);
    box-shadow: 0 0.5em 0.5em -0.4em var(--jake-color);
}
.form-container form .input-group label input[type="checkbox"]:checked + .form-terms .jake-box::before, 
.form-container form .input-group label input[type="checkbox"]:checked + .form-terms .jake-box::after {
    transition: opacity 350ms cubic-bezier(.06, .71, 0, .78);
    opacity: 1;
}
.form-container form .input-group label .form-terms {
    position: relative;
    display: inline-block;
    color: var(--light-color);
    font-size: var(--form-terms-text-size);
    padding-left: calc(var(--form-checkbox-size) * 1.75);
    text-align: center;
    user-select: none;
}
.form-container form .input-group label .form-terms .colorful-description {
    position: relative;
    color: var(--jake-color);
}
.form-container form .input-group label .form-terms .colorful-description::after {
    content: '';
    position: absolute;
    bottom: calc(var(--form-terms-text-size) * -.05);
    left: 0;
    width: 100%;
    height: calc(var(--form-terms-text-size) * .05);
    background-color: var(--jake-color);
}